<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process_form" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="platform">Platform</label>
        <input type="text" name="platform" id="platform">
        <label for="score">Score</label>
        <input type="number" name="score" id="score">
        <input type="hidden" name="secret_value" value="SUPER SECRET">
        <button>Submit</button>

    </form>
</body>
</html>